.button {
  .button-reset();
  .flex-center();
  .font(16px, 20px);
  font-family: @font-family-secondary;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 10px 44px;
  color: @text-color-thirdly;
  &--primary {
    color: @text-color-secondary;
    background-color: @background-color-secondary;
  }
  &--slim {
    .font(16px, 16px);
    .flex-row-align();
    justify-content: flex-start;
    text-align: left;
    padding: 10px 5px;
  }
  &--slim::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    background-image: ~'url("../img/slim-btn-arrow.svg")';
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 10px;
    margin-left: 15px;
  }
}
