.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts__welcome {
  padding: 26px 0;
  background-color: @background-color-primary;
  &--catalog {
    background-color: #f2f2f2;
  }
}

.contacts__welcome-container {
  display: flex;
}

.contacts__welcome-text {
  .font(16px, 20px);
  color: #111111;
  font-family: @font-family-secondary;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.contacts__welcome-address {
  .font(14px, 20px);
  font-style: normal;
  margin: 0;
  padding: 0;
}

.contacts__map {
  height: 362px;
  background-color: #eaeaea;
  color: @text-color-primary;
  overflow: hidden;
}
