.custom {
  .flex-row-align();
}

.custom__label {
  .font(16px, 18px);
  position: relative;
  padding: 0 0 0 21px;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: @background-color-primary;
    border: 1px solid @color-cdcdcd;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
      padding: 0 0 0 40px;
      left: -38px;
    }
  }

  @media (min-width: @tablet-width) {
    .font(20px, 30px);
  }
}

.custom__input {
  &[type="radio"] + label::after {
    border-radius: 50%;
  }
}

.custom__input[type="checkbox"]:checked + label::after {
  background: ~'url("../img/stack.svg#tick")', linear-gradient(0deg, @background-color-primary 0%, @background-color-primary 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px, 100% 100%;
}

.custom__input[type="radio"]:checked + label::after {
  background: ~'url("../img/stack.svg#radio")', linear-gradient(0deg, @background-color-primary 0%, @background-color-primary 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px, 100%;
  @media (min-width: @tablet-width) {
    background-size: 18px, 100%;
  }
}

.custom__input:not(:disabled):hover + label::after {
  border-color: @color-bababa;
}

.custom__input:not(:disabled):focus + label::after {
  outline: 1px solid @color-bababa;
}

.custom__input:disabled + label::after,
.custom__input:disabled + label {
  border-color: @color-bababa;
  opacity: 0.3;
  pointer-events: none;
}
