.examples {
  min-height: 613px;
  padding-bottom: 40px;
  background-color: @color-eaeaea;
  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-bottom: 101px;
    background: linear-gradient(180deg, @text-color-secondary 154px, @color-eaeaea 154px, @color-eaeaea 100%) no-repeat top;
    background-size: cover;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 560px;
    padding-top: 0;
    padding-bottom: 52px;
    min-height: 598px;
    //background: linear-gradient(180deg, @text-color-secondary 154px, #eaeaea 154px, #eaeaea 100%) no-repeat top;
    //background-size: cover;
  }
}

.examples__wrapper {
  padding-top: 26px;
  background-color: @color-eaeaea;
  @media (min-width: @tablet-width) {
    padding-top: 17px;
    background-color: @background-color-primary;
  }
  @media (min-width: @desktop-width) {
    background: none;
  }
}

.examples__title {
  margin: 0 0 43px;
  @media (min-width: @tablet-width) {
    margin: 0 0 59px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 22%;
  }
}

.examples__desc {
  margin: 0 0 20px;
  @media (min-width: @tablet-width) {
    .font(16px, 24px);
    margin: 0 0 55px;
  }
  @media (min-width: @desktop-width) {
    max-width: 436px;
    margin: 0 0 70px;
  }
}

.examples__facts {
  .flex(space-between, center);
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
  background-color: inherit;
  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    padding-bottom: 109px;
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.examples__costs {
  .font(14px, 20px);
  color: @text-color-thirdly;
  font-family: @font-family-secondary;
  text-transform: uppercase;
  background-color: inherit;
  flex-basis: 100%;
  margin: 34px 0 0;
  @media (min-width: @tablet-width) {
    .font(20px, 28px);
    flex-basis: 28%;
    max-width: 175px;
    text-align: right;
    padding-top: 4px;
    margin: 0 0 0 auto;
  }
  @media (min-width: @desktop-width) {
    .flex(space-between, center);
    flex-basis: 50%;
    max-width: 368px;
    margin: 0;
    text-align: left;
    letter-spacing: 0.1px;
  }
}

.examples__fact {
  margin: 0;
  //flex-basis: 44%;
  min-width: 124px;
  padding: 14px 12px 15px;
  outline: 3px solid @color-cdcdcd;
  background-color: inherit;
  border-radius: 4px;
  position: relative;
  @media (min-width: @tablet-width) {
    //flex-basis: 23%;
    min-width: 162px;
    padding: 16px 12px;
  }
  @media (min-width: @desktop-width) {
    flex-basis: 24%;
    padding: 15px 20px;
    margin-bottom: 60px;
  }
}

.examples__fact:first-child {
  @media (min-width: @tablet-width) {
    margin-right: 44px;
  }
}

.examples__fact-number {
  .font(24px, 24px);
  color: @text-color-thirdly;
  text-align: center;
  font-family: @font-family-secondary;
  @media (min-width: @tablet-width) {
    .font(30px, 37px);
  }
}

.examples__fact-desc {
  .font(12px, 12px);
  .flex-center();
  width: 60%;
  padding: 2px;
  position: absolute;
  background-color: inherit;
  top: 102%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  @media (min-width: @tablet-width) {
    .font(14px, 14px);
    width: 80%;
  }
  @media (min-width: @desktop-width) {
    background-color: @color-eaeaea;
    width: 86%;
  }
}

.examples__slider {
  display: flex;
  justify-content: center;
  min-height: 256px;
  width: 100%;
  background-color: @color-eaeaea;
  position: relative;
  transition: all 0.8s;
  @media (min-width: @tablet-width) {
    background: linear-gradient(180deg, @text-color-secondary 23%, #eaeaea 23%, #eaeaea 100%) no-repeat top;
    background-size: cover;
    min-height: 512px;
  }
  @media (min-width: @desktop-width) {
    max-height: 512px;
    background: none;
    margin-top: 18px;
    margin-left: -110px;
  }
}

.examples__slider-item {
  height: 100%;
  background: @color-eaeaea;
  overflow: hidden;
  object-fit: contain;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media (min-width: @tablet-width) {
    background: linear-gradient(180deg, @text-color-secondary 29%, @color-eaeaea 29%, @color-eaeaea 100%) no-repeat top;
    background-size: cover;
    height: 100%;
  }
  @media (min-width: @desktop-width) {
    background: linear-gradient(180deg, @text-color-secondary 135px, @color-eaeaea 135px, @color-eaeaea 100%) no-repeat top;
  }
}

.examples__slider-item--before {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20px center;
    transition: object-fit 1.5s linear;
    @media (min-width: 321px) and (max-width: 767px) {
      object-fit: fill;
      object-position: center;
      margin-left: 50%;
    }
    @media (min-width: @tablet-width) {
      object-position: 102px center;
      margin-left: 0;
    }
    @media (min-width: 769px) and (max-width: 1439px) {
      object-fit: fill;
      object-position: center;
      margin-left: 50%;
    }
    @media (min-width: 1440px) {
      object-position: 0 center;
      margin-left: 0;
    }
  }
}

.examples__slider-item--after {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.examples__slider-controls {
  .button-reset();
  .position-absolute-center();
  z-index: 3;
  display: block;
  height: 100%;
  width: 4px;
  padding: 0;
  border-radius: 2px;
  background-color: @color-666666;
  color: @color-666666;
  &::before {
    content: "";
    .position-absolute-center();
    width: 39px;
    height: 39px;
    background-color: @background-color-primary;
    border-radius: 50%;
    border: 2px solid @color-666666;
    z-index: 2;
  }
  &::after {
    content: "";
    .position-absolute-center();
    width: 27px;
    height: 27px;
    mask-image: ~'url("../img/stack.svg#slider-btn")';
    background-color: @color-666666;
    z-index: 3;
  }
}

.examples__slider-controls:hover {
  background-color: @background-color-secondary;
}

.examples__slider-controls:hover::before {
  border-color: @background-color-secondary;
}

.examples__slider-controls:hover::after {
  background-color: @background-color-secondary;
}

.examples__slider-controls:active {
  opacity: 0.6;
}
