.features {
  padding-top: 23px;
  padding-bottom: 50px;
  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 19px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 71px;
    margin-bottom: 23px;
  }
}

.features__title {
  margin: 0 0 42px;
}

.features__list {
  .list-reset();
  display: grid;
  row-gap: 20px;
  counter-reset: feature 0;
  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(auto-fit, 230px);
    row-gap: 36px;
    column-gap: 153px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 244px);
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 40px;
  }
}

.features__item {
  counter-increment: feature 1;
  position: relative;
  background: transparent;
  margin: 0;
  @media (min-width: @tablet-width) {
    min-height: 280px;
    padding: 31px 0;
  }
}

.features__item::before {
  .font(280px, 280px);
  content: counter(feature);
  display: none;
  position: absolute;
  right: -15px;
  bottom: 5px;
  color: #e2e2e2;
  opacity: 0.3;
  font-family: @font-family-secondary;
  @media (min-width: @tablet-width) {
    display: block;
  }
  @media (min-width: @desktop-width) {
    right: 0;
  }
}

.features__item:first-child::before {
  right: 6px;
  @media (min-width: @desktop-width) {
    right: 16px;
  }
}

.features__item-desc {
  .flex-row-align();
  margin: 0;
  &::before {
    content: "";
    display: block;
    min-width: 60px;
    min-height: 60px;
    flex-shrink: 0;
    background-color: @background-color-secondary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 28px;
    padding: 12px;
    margin-right: 20px;
    @media (min-width: @tablet-width) {
      min-width: 80px;
      min-height: 80px;
    }
  }
  &--leaf::before {
    background-image: ~'url("../img/features-leaf.svg")';
  }
  &--boil::before {
    background-image: ~'url("../img/features-boil.svg")';
  }
  &--eat::before {
    background-image: ~'url("../img/features-eat.svg")';
  }
  &--clock::before {
    background-image: ~'url("../img/features-clock.svg")';
  }
  @media (min-width: @tablet-width) {
    .font(16px, 24px);
    flex-direction: column;
    align-items: flex-start;
    max-width: 99%;
    &::before {
      margin: 0 0 31px;
    }
  }
}
