.form {
  padding-top: 25px;
  padding-bottom: 32px;
  font-family: @font-family-secondary;
  text-transform: uppercase;
  border-top: 1px solid @color-d9d9d9;
  overflow: hidden;
  @media (min-width: @tablet-width) {
    border-top: none;
    padding-top: 51px;
    padding-bottom: 59px;
    padding-left: 70px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 63px;
    padding-bottom: 78px;
    padding-left: 109px;
  }
}

.form__title {
  margin: 0 0 35px;
  text-transform: initial;
  @media (min-width: @tablet-width) {
    margin: 0 0 53px;
  }
}

.form__desc {
  max-width: 80%;
  color: @text-color-thirdly;
  margin: 0 0 14px;
  @media (min-width: @tablet-width) {
    .font(20px, 30px);
    max-width: 330px;
    margin: 0 0 42px;
  }
}

.form__field {
  border: none;
  margin: 0;
  padding: 0;
  &--cat {
    padding: 24px 0 10px;
    @media (min-width: @tablet-width) {
      padding: 24px 0 55px;
    }
  }
  &--program {
    padding: 23px 0 20px;
    margin-bottom: 26px;
    position: relative;
    @media (min-width: @tablet-width) {
      border: 1px solid @color-d9d9d9;
      padding: 23px 27px;
      margin-bottom: 67px;
    }
    @media (min-width: @desktop-width) {
      margin-top: 25px;
      margin-bottom: 71px;
    }
  }
  &--owner {
    margin-bottom: 11px;
    @media (min-width: @tablet-width) {
      margin-bottom: 47px;
    }
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
      justify-content: space-between;
      padding-bottom: 3px;
    }
  }
  &--comment {
    margin-bottom: 25px;
    @media (min-width: @tablet-width) {
      margin-bottom: 65px;
    }
    @media (min-width: @desktop-width) {
      margin-bottom: 71px;
    }
  }
  &--add {
    margin-bottom: 34px;
    @media (min-width: @tablet-width) {
      margin-bottom: 52px;
    }
    @media (min-width: @desktop-width) {
      margin-bottom: 60px;
    }
  }
}

.form__legend {
  text-transform: initial;
  &--owner {
    margin: 0 0 35px;
    padding: 0;
    max-width: 187px;
    @media (min-width: @tablet-width) {
      max-width: fit-content;
      margin: 0 0 76px;
    }
  }
  &--owner::after {
    top: 31%;
    left: 110%;
    @media (min-width: @tablet-width) {
      left: 107%;
      top: 65%;
    }
  }
  &--owner::before {
    @media (min-width: @tablet-width) {
      top: 65%;
    }
  }
  &--comment {
    margin: 0 0 38px;
    @media (min-width: @tablet-width) {
      margin: 0 0 88px;
    }
    @media (min-width: @desktop-width) {
      margin: 0 0 77px;
    }
  }
  &--comment::after {
    @media (min-width: @tablet-width) {
      left: 123%;
    }
  }
  &--add {
    margin-bottom: 34px;
    @media (min-width: @tablet-width) {
      margin-bottom: 57px;
    }
  }
  &--add::after {
    @media (min-width: @desktop-width) {
      left: 119%;
    }
  }
}

.form__label {
  .font(16px,18px);
  .flex-row-align();
  margin-bottom: 14px;
  position: relative;
  svg {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
  }
  @media (min-width: @tablet-width) {
    .font(20px,30px);
    margin-bottom: 19px;
    max-width: 94%;
  }
  @media (min-width: @desktop-width) {
    max-width: 100%;
  }
}

.form__input,
.form__comment {
  .font(16px, 18px);
  color: @text-color-primary;
  text-transform: uppercase;
  font-family: @font-family-secondary;
  margin-left: 13px;
  padding: 15px 40px 12px 16px;
  vertical-align: middle;
  border: none;
  outline: 1px solid @color-e7e7e7;
  flex-grow: 1;
  @media (min-width: @tablet-width) {
    .font(20px,30px);
    padding: 11px 40px 12px 20px;
  }
}

.form__input[type="email"],
.form__input[type="tel"] {
  padding: 14px 40px 12px 15px;
  @media (min-width: @tablet-width) {
    .font(20px,30px);
    padding: 11px 40px 11px 20px;
  }
}

.form__comment {
  width: 100%;
  text-transform: uppercase;
  font-family: @font-family-secondary;
  margin: 0;
  padding: 14px 14px 14px 15px;
  min-height: 149px;
  @media (min-width: @tablet-width) {
    padding: 11px 40px 11px 20px;
  }
}

.form__input + svg {
  color: @text-color-thirdly;
}

.form__input:hover {
  outline: 1px solid @color-cdcdcd;
}

.form__input:focus {
  outline: 2px solid @text-color-primary;
}

.form__input:focus + svg {
  color: @background-color-secondary;
}

.form__input:invalid,
.form__input.error {
  outline: 2px solid @color-ff8282;
}

.form__input:invalid + svg,
.form__input.error + svg {
  color: @color-ff8282;
}

.form__list {
  .list-reset();
  &--radio > *:not(:last-child) {
    margin-bottom: 13px;
  }
  &--check {
    display: grid;
    row-gap: 12px;
    @media (min-width: @tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 25px;
      row-gap: 32px;
      justify-content: space-between;
    }
    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
    }
  }
}

.form__list-item {
  margin: 0;
  padding: 0;
}

.form__button {
  width: 100%;
  margin-bottom: 21px;
  @media (min-width: @tablet-width) {
    .font(20px, 26px);
    max-width: 284px;
    margin: 0;
    padding: 14px 65px;
  }
  @media (min-width: @desktop-width) {
    max-width: 570px;
    padding: 14px 208px;
  }
}

.form__tip {
  .font(14px, 16px);
  margin: 0;
  font-family: @font-family-primary;
  color: @text-color-thirdly;
  text-transform: initial;
  text-align: center;
  @media (min-width: @tablet-width) {
    .font(16px, 16px);
    text-align: left;
    padding-top: 16px;
    margin-left: -3px;
  }
}

.form__footer {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 32px;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    column-gap: 80px;
  }
}

.form__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    justify-content: space-between;
  }
}

.form__field--program::before,
.form__field--program::after {
  content: "";
  position: absolute;
  top: 0;
  left: -110px;
  width: 200vw;
  height: 1px;
  background-color: @color-d9d9d9;
  z-index: 2;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__field--program::after {
  top: 100%;
}
