.header {
  width: 320px;
  margin: 0 auto;
  padding: 21px 0;
}

.header__container {
  .flex(space-between, center);
  flex-wrap: wrap;
}

.header__toggle {
  .button-reset();
  width: 24px;
  height: 24px;
  background-image: ~'url("../img/hamburger-menu.svg")';
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.header__nav {
  display: none;
}