.products {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 40px;
}

.products__title {
  .font(36px, 36px);
  color: @text-color-thirdly;
  font-family: @font-family-secondary;
  margin: 0 0 40px;
}

.products__list {
  .list-reset();
}

.products__item {
  border-top: 1px solid #d9d9d9;
}
