.products {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 28px;
  overflow: hidden;
  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 50px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 62px;
  }
}

.products__title {
  margin: 0 0 40px;
  @media (min-width: @tablet-width) {
    margin: 0 0 74px;
  }
}

.products__list {
  .list-reset();
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 50px;
  }
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    row-gap: 56px;
    column-gap: 79px;
  }
}

.products__item {
  position: relative;
  min-height: 209px;
  @media (min-width: @tablet-width) {
    min-height: 511px;
    border: none;
  }
}

.products__item--more {
  @media (min-width: @tablet-width) {
    min-height: calc(511px - 15%);
    max-height: calc(511px - 15%);
    padding: 22px 37px 27px 37px;
    border: 2px solid #f2f2f2;
  }
  @media (min-width: @desktop-width) {
    min-height: calc(511px - 16%);
    max-height: calc(511px - 16%);
    padding: 22px 37px 27px 37px;
  }
}
