.programmes__list {
  .list-reset();
  display: grid;
  row-gap: 22px;
  @media (min-width: @tablet-width) {
    row-gap: 28px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 40px;
  }
}

.programmes__item {
  display: grid;
  grid-template-columns: 75px 1fr;
  padding: 24px 18px 11px 20px;
  background-color: @color-f2f2f2;
  row-gap: 22px;
  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 270px;
    padding: 66px 49px 52px 52px;
    row-gap: 12px;
    br {
      display: none;
    }
  }
  @media (min-width: @desktop-width) {
    padding: 43px 21px 52px 52px;
    grid-template-columns: 150px 1fr;
    column-gap: 12px;
    row-gap: 38px;
    br {
      display: inline;
    }
  }
}

.programmes__item::before {
  content: "";
  display: block;
  height: 50px;
  width: 67px;
  transform: translate(-14%, -5%);
  background: ~'url("../img/stack.svg#programmes-cat-slim")' no-repeat top / contain;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  @media (min-width: @tablet-width) {
    width: 270px;
    height: 200px;
    grid-column: 2;
    grid-row: 1 / 3;
    transform: translate(8%, 5%);
  }
  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;
    grid-column: 1;
    grid-row: 1;
    transform: translate(-14%, -5%);
  }
}

.programmes__item--fat::before {
  background-image: ~'url("../img/stack.svg#programmes-cat-fat")';
  transform: translate(-11%, 0);
  @media (min-width: @tablet-width) {
    transform: translate(8%, 12%);
  }
  @media (min-width: @desktop-width) {
    transform: translate(-14%, 2%);
  }
}

.programmes__item::after {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: @background-color-secondary;
  grid-column: 1;
  grid-row: 1;
  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    grid-column: 2;
    grid-row: 1 / 3;
    position: relative;
    top: 25px;
    right: -58px;
  }
  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    grid-column: 1;
    grid-row: 1;
    position: static;
    margin-top: 5px;
  }
}

.programmes__item-title {
  .font(24px, 37px);
  .flex-row-align();
  margin: 0 0 0 -5px;
  color: @text-color-thirdly;
  font-family: @font-family-secondary;
  text-transform: uppercase;
  grid-column: 2;
  @media (min-width: @tablet-width) {
    .font(36px, 36px);
    margin: 0;
    grid-column: 1;
  }
  @media (min-width: @desktop-width) {
    grid-column: 2;
    margin: 0;
  }
}

.programmes__item-desc {
  .flex-column();
  color: @text-color-thirdly;
  margin: 0 0 11px;
  grid-column: span 2;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: @color-d9d9d9;
    margin: 0 0 9px;
  }

  @media (min-width: @tablet-width) {
    .font(16px, 24px);
    grid-column: 1;
    max-width: 400px;
    margin-bottom: 12px;
    &::after {
      display: none;
    }
  }
  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    max-width: 100%;
    margin: 0 0 13px;
  }
}

.programmes__item-button {
  .font(16px, 16px);
  .flex-row-align();
  justify-content: flex-start;
  text-align: left;
  max-width: fit-content;
  padding: 9px 12px 9px 0;
  grid-column: span 2;
  position: relative;
  z-index: 0;
  background-color: @color-f2f2f2;
  outline: 1px solid red;
  @media (min-width: @tablet-width) {
    .font(20px, 24px);
    max-width: 170px;
    grid-column: 1;
    padding: 10px 26px 10px 0;
  }
  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    margin-top: -30px;
  }
}
.programmes__item-button::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(27px, -50%);
  z-index: -1;
  width: 32px;
  height: 12px;
  background-image: ~'url("../img/stack.svg#slim-btn-arrow")';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.programmes__item-button:hover::after {
  transition: 0.6s;
  transform: translate(36px, -50%);
}

//.programmes__item-button--pro::after {
//  right: 18px;
//}

.programmes__item-button:active {
  opacity: 0.3;
}


