.promo {
  .font(14px, 14px);
  text-align: center;
  min-height: 480px;
  font-family: @font-family-secondary;
  color: @text-color-secondary;
  padding-top: 27px;
  margin-bottom: 20px;
  background: linear-gradient(0deg, @background-color-primary 35%, @background-color-promo 35%, @background-color-promo 100%), ~'url("../img/promo-background.png")' no-repeat top;
  background-color: @background-color-secondary;
  background-size: cover, 100% 75%;
}

.promo__title {
  .font(36px, 36px);
}

.promo__slogan {
  text-transform: uppercase;
  margin-bottom: 29px;
}

.promo__button {
  width: 100%;
}
