.promo {
  .font(14px, 14px);
  .flex-column-align();
  text-align: center;
  font-family: @font-family-secondary;
  color: @text-color-secondary;
  padding-top: 27px;
  margin-bottom: 20px;
  background: linear-gradient(0deg, @background-color-primary 37%, @background-color-promo 37%, @background-color-promo 100%), ~'url("../img/promo-cat-mobile.png")', linear-gradient(0deg, #4d4d53 0%, #4d4d53 100%);
  background-color: @background-color-secondary;
  background-repeat: no-repeat;
  background-position: center, top, center;
  background-size: cover, contain, cover;
  z-index: 2;
  position: relative;
  @media (min-width: @tablet-width) {
    align-items: flex-start;
    background: linear-gradient(0deg, @background-color-primary 0%, @background-color-primary 100%) no-repeat top;
    background-color: @background-color-primary;
    background-size: cover;
    text-align: left;
    display: grid;
    padding-left: 120px;
    padding-top: 53px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 420px 1fr;
    grid-template-rows: 71px repeat(4, auto);
    padding-top: 27px;
    padding-left: 189px;
    margin-bottom: 134px;
    background: none;
    position: static;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      z-index: -1;
      background: linear-gradient(0deg, @background-color-promo 0%, @background-color-promo 100%), ~'url("../img/promo-cat-desktop-nobackground.png")' no-repeat bottom right;
      background-color: @color-4e4d52;
      background-size: 90% auto;
      @media (min-resolution: 2dppx) {
        background: linear-gradient(0deg, @background-color-promo 0%, @background-color-promo 100%), ~'url("../img/promo-cat-desktop-nobackground@2x.png")' no-repeat bottom right;
        background-color: @color-4e4d52;
        background-size: 85% auto;
      }
    }
  }
}

.promo__title {
  .font(36px, 36px);
  text-transform: initial;
  margin: 0 0 26px;
  @media (min-width: @tablet-width) {
    .font(60px, 60px);
    color: @text-color-thirdly;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 40px;
  }
  @media (min-width: @desktop-width) {
    margin: 0 0 41px;
    grid-row: 2;
  }
}

.promo__slogan {
  .font(14px, 14px);
  text-transform: uppercase;
  margin: 0 0 29px;
  @media (min-width: @tablet-width) {
    .font(20px, 20px);
    color: @text-color-thirdly;
    margin-bottom: 50px;
    grid-column: 1;
    grid-row: 2;
  }
  @media (min-width: @desktop-width) {
    grid-row: 3;
  }
}

.promo__picture {
  margin-left: 20px;
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 3;
    z-index: -1;
    margin-top: -30px;
    margin-left: -68px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 2;
    grid-row: 1 / span 5;
    z-index: 0;
  }
}

.promo__image {
  display: block;
  object-fit: cover;
  margin-left: -12px;
  width: 280px;
  height: 272px;
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    margin-left: -11px;
    margin-top: 2px;
  }
  @media (min-width: @desktop-width) {
    width: 522px;
    height: 499px;
    margin-left: -38px;
    margin-top: -10px;
  }
}

.promo__button {
  width: 100%;
  padding: 10px 26px;
  @media (min-width: @tablet-width) {
    .font(20px, 26px);
    max-width: 244px;
    padding: 15px 26px;
    grid-column: 1;
    grid-row: 3;
  }
  @media (min-width: @desktop-width) {
    grid-row: 4;
  }
}
