@font-family-primary: "Lato", sans-serif;
@font-family-secondary: "Oswald", sans-serif;
@text-color-primary: #444444;
@text-color-secondary: #ffffff;
@text-color-thirdly: #000000;
@background-color-primary: #ffffff;
@background-color-secondary: #68b738;
@background-color-secondary-hover: #5eaa2f;
@background-color-promo: rgba(104, 183, 56, 0.85);
@tablet-width: 768px;
@desktop-width: 1180px;
